*.aux
*.glo
*.idx
*.log
*.toc
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.tdo
*.fls
*.fdb_latexmk
*.mtc
*.mtc*
/images/chap3/old
/images/chap2/old
/images/chap1/old
/images/chap4/old
/images/chap5/old
/content/old
